source ./common.env
NAME_SERVICE=linuxpcman
PATH_INSTALL="/usr/local/share"
PATH_EVENT="/etc/acpi/events"
DURATION=10
# PATH_RUN1=/tmp/`basename $0 .sh`_pre.run
# PATH_RUN2=/tmp/`basename $0 .sh`.run
PATH_RUN1=/tmp/resetme_pre.run
PATH_RUN2=/tmp/resetme.run
